################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sitefinity/Gigya.Module/bin/Debug
/Tests/Gigya.UnitTests/bin/Debug
/packages
/Gigya.UnitTests/obj/Debug
/Gigya.Module/obj/Debug
/Gigya.Demo.SingleSite/obj
/Gigya.Demo.SingleSite/bin
/Gigya.DemoSite2/obj
/.vs/config/applicationhost.config
/Gigya.Demo.SingleSite/Build
/Core/Gigya.Umbraco/bin/Debug
/Core/Gigya.Umbraco/obj/Debug
/Umbraco/Gigya.Umbraco.Demo/App_Data/cache
/Umbraco/Gigya.Umbraco.Demo/App_Data/Logs
/Umbraco/Gigya.Umbraco.Demo/App_Data/NuGetBackup
/Umbraco/Gigya.Umbraco.Demo/App_Data/TEMP
/Umbraco/Gigya.Umbraco.Demo/bin
/Umbraco/Gigya.Umbraco.Demo/obj/Debug
/Umbraco/Gigya.Umbraco.Module/App_Data/NuGetBackup
/Umbraco/Gigya.Umbraco.Module/bin/Debug
/Umbraco/Gigya.Umbraco.Module/obj/Debug
/Umbraco/Gigya.Umbraco.7.0/obj/Debug
/Sitefinity/Gigya.Module/obj/Release
/Sitefinity/Gigya.Module/dir3.txt
/Sitefinity/Gigya.Module/dir2.txt
/Core/Gigya.Module.Core/obj/Release
/Core/Gigya.Module.Core/bin
/Sitefinity/Gigya.Module/bin
/Core/Gigya.Module.Core/dir3.txt
/Umbraco/Gigya.Umbraco.Demo.v621/obj
/Umbraco/Gigya.Umbraco.Module/bin/Release
/Umbraco/Gigya.Umbraco.Module/obj/Release
/Umbraco/Gigya.Umbraco.Module.v621/bin
/Umbraco/Gigya.Umbraco.Module.v621/obj
/Gigya.UnitTests/bin
/Gigya.UnitTests/obj/Release
/Gigya.Umbraco.Demo/obj/Release
/Gigya.UnitTests.Umbraco621/obj
/Gigya.UnitTests.Umbraco621/bin
/Gigya.UnitTests.Common/obj
/Gigya.Module.DS/bin
/Gigya.Module.DS/obj
/Umbraco/Gigya.Umbraco.Demo.v621/App_Data/Logs
/Umbraco/Gigya.Umbraco.Demo.v621/App_Data/NuGetBackup
/Umbraco/Gigya.Umbraco.Demo.v621/App_Data/TEMP
/Umbraco/Gigya.Umbraco.Demo.v621/bin
/Umbraco/Gigya.Umbraco.Module.DS/bin/Release
/Umbraco/Gigya.Umbraco.Module.DS/obj/Release
/Gigya.UnitTests/App_Data/NuGetBackup
/Gigya.UnitTests/App_Data/TEMP/PluginCache
/Gigya.UnitTests.Common/bin
/Gigya.UnitTests.Umbraco621/App_Data/Logs
/Gigya.UnitTests.Umbraco621/App_Data/NuGetBackup
/Gigya.UnitTests.Umbraco621/App_Data/TEMP
/Umbraco/Gigya.Umbraco.Demo.v621.rar
/Umbraco/Gigya.Umbraco.7.2.4.Demo.rar
/Umbraco/Gigya.Umbraco.6.2.1.rar
/dir5.txt
/dir4.txt
/dir3.txt
/dir.txt
/Gigya.UnitTests.Umbraco621/dir3.txt
/Gigya.UnitTests.Common/dir3.txt
/Gigya.UnitTests/dir3.txt
/Gigya.UnitTests/config/splashes
/Umbraco/Gigya.Umbraco.Demo.v621/umbraco/Plugins/Gigya/dir5.txt
/Umbraco/Gigya.Umbraco.Demo/umbraco
/Gigya.DemoSite2/App_Data/RadUploadTemp
/Gigya.DemoSite2/bin
/Gigya.DemoSite2/GSCSharpSDK.dll
/Umbraco/Gigya.Umbraco.Demo/masterpages/Master2.master
/Umbraco/Gigya.Umbraco.Module.DS/App_Data/NuGetBackup/20160930-155554/bin/Release
/Umbraco/Gigya.Umbraco.Module.DS/bin/Debug
/Umbraco/Gigya.Umbraco.Module.DS/obj/Debug
/Gigya.Sitefinity.Module.DS/obj/Debug
/Gigya.Sitefinity.Module.DS/bin
/Gigya.Sitefinity.Module.DS/obj/Release
/Gigya.Sitefinity.DS.9.0.6010.1.0.0.0.nupkg
/Gigya.Sitefinity.Core.9.0.6010.1.0.0.2.nupkg
/Gigya.Sitefinity.DS.9.2.6200.1.0.0.0.nupkg
/Gigya.Sitefinity.DS.9.1.6110.1.0.0.0.nupkg
/Gigya.Sitefinity.Core.9.2.6200.1.0.0.2.nupkg
/Gigya.Sitefinity.Core.9.1.6110.1.0.0.2.nupkg
/Umbraco/Gigya.Umbraco.Module.DS/App_Data/NuGetBackup/20170411-155554/bin
/Umbraco/Gigya.Umbraco.Module.v621/App_Data/NuGetBackup/20170411-155830/bin
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/NuGetBackup
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/TEMP
/Umbraco/Gigya.Umbraco.Demo.v765/bin
/Umbraco/Gigya.Umbraco.Demo.v765/obj/Release
/Umbraco/Gigya.Umbraco.Demo.v765/obj/Debug
/.vs/Gigya/v15
*.user
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/cache/d/7/b/1/7/a
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/Logs
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/Models
/Gigya.Sitefinity.Core.9.2.6200.1.0.0.7.nupkg
/Gigya.Sitefinity.Core.9.1.6110.1.0.0.7.nupkg
/Gigya.Sitefinity.Core.9.0.6010.1.0.0.7.nupkg
/Umbraco/Gigya.Umbraco.Demo.v765/obj/Debug
/Umbraco/Gigya.Umbraco.Demo.v765/App_Data/Logs
/.vs/Gigya/v15/sqlite3/storage.ide
/Umbraco/Gigya.Umbraco.Demo.v621/App_Data/ClientDependency
/Sitecore/Sitecore.Gigya.Extensions/bin
/Sitecore/Sitecore.Gigya.Extensions/obj/Debug
/Sitecore/Sitecore.Gigya.Module/bin
/Sitecore/Sitecore.Gigya.Module/obj/Debug
/Sitecore.Gigya.Extensions.Tests/bin/Debug
/Sitecore.Gigya.Extensions.Tests/obj/Debug
/Sitecore.Gigya.Module.Tests/bin/Debug
/Sitecore.Gigya.Module.Tests/obj/Debug
*.force
/Sitecore/Sitecore.Gigya.Module.Tests/obj/Debug
/Sitecore/Sitecore.Gigya.Module.Tests/bin/Debug
/Sitecore/Sitecore.Gigya.Extensions.Tests/obj/Debug
/Core/Gigya.Module.Core/obj/Debug/Gigya.Module.Core.pdb
/Core/Gigya.Module.Core/obj/Debug/Gigya.Module.Core.dll
/Core/Gigya.Module.Core/obj/Debug/Gigya.Module.Core.csprojResolveAssemblyReference.cache
/Core/Gigya.Module.Core/obj/Debug/Gigya.Module.Core.csproj.CoreCompileInputs.cache
/Core/Gigya.Module.DS/bin/Debug
/Core/Gigya.Module.DS/obj/Debug
/Sitecore/Sitecore.Gigya.Extensions.Tests/bin/Debug
/Sitefinity/Gigya.Module/obj/Debug
/Sitefinity/Gigya.Sitefinity.Module.DS/bin/Debug
/Sitefinity/Gigya.Sitefinity.Module.DS/obj/Debug
/Tests/Gigya.UnitTests/obj/Debug
/Tests/Gigya.UnitTests.Common/bin/Debug
/Tests/Gigya.UnitTests.Common/obj/Debug
/Tests/Gigya.UnitTests.Umbraco621/bin/Debug
/Tests/Gigya.UnitTests.Umbraco621/obj/Debug
/Core/Gigya.Module.Core/obj/Debug
/Core/Gigya.Module.DS/obj/Release
/Sitecore/Sitecore.Gigya.DependencyInjection/bin
/Sitecore/Sitecore.Gigya.DependencyInjection/obj/Debug
/Sitecore/Sitecore.Gigya.Extensions/obj/Release
/Sitecore/Sitecore.Gigya.Extensions.Tests/obj/Release
/Sitecore/Sitecore.Gigya.Module/obj/Release
/Sitecore/Sitecore.Gigya.Module.Tests/obj/Release
/Sitefinity/Gigya.Sitefinity.Module.DS/obj/Release
/Tests/Gigya.UnitTests.Common/obj/Release
/Gigya.Module/bin/Debug
/Gigya.Module/bin/Release
/Gigya.Module/bin
/Gigya.Module.Core/bin/Debug
/Gigya.Module.Core/bin/Release
/Gigya.Module/obj/Release
/Gigya.Module.Core/obj
/Gigya.Umbraco.Demo/bin
/Gigya.Umbraco.Demo/obj/Debug
/Gigya.Umbraco.Demo.v621/bin
/Gigya.Umbraco.Demo.v621/obj
/Gigya.Umbraco.Module/bin
/Gigya.Umbraco.Module/obj
/Gigya.Umbraco.Module.DS/bin
/Gigya.Umbraco.Module.DS/obj
/Gigya.Umbraco.Module.v621/bin
/Gigya.Umbraco.Module.v621/obj
/Gigya.Umbraco.Demo/umbraco
/Sitecore/Lib/license.xml
/Sitecore/Sitecore.Gigya.Module.Tests/license.xml
/Sitecore/Sitecore.Gigya.Testing/bin/Debug
/Sitecore/Sitecore.Gigya.Testing/obj/Debug
/Sitecore/Sitecore.Gigya.Testing/license.xml
/Sitecore/Sitecore.Gigya.Extensions.Abstractions/bin/Debug
/Sitecore/Sitecore.Gigya.Extensions.Abstractions/obj/Debug
/Sitecore/Sitecore.Gigya.Extensions.v9/bin/Debug
/Sitecore/Sitecore.Gigya.Extensions.v9/obj/Debug
/Tests/Gigya.UnitTests.Umbraco621/App_Data/NuGetBackup/20180618-142139
/Umbraco/Gigya.Umbraco.Module.v621/App_Data/NuGetBackup/20180618-142152
/.vs/Gigya/DesignTimeBuild
/Sitecore/Sitecore.Gigya.XConnect.Models/obj/Debug
/Sitecore/Sitecore.Gigya.XConnect.Models.Tests/obj/Debug
/Sitecore/Sitecore.Gigya.Connector.v9/bin
/Sitecore/Sitecore.Gigya.Connector.v9/obj/Debug
/Sitecore/Sitecore.Gigya.Extensions.v9.old/bin/Debug
/Sitecore/Sitecore.Gigya.Extensions.v9.old/obj/Debug
/Sitecore/Sitecore.Gigya.XConnect.Models/bin/Debug
/Sitecore/Sitecore.Gigya.XConnect.Models.Tests/bin/Debug
/Sitecore/Sitecore.Gigya.Connector.v8/bin
/Sitecore/Sitecore.Gigya.Connector.v8/obj
/Sitecore/Sitecore.Gigya.Testing/bin
/Sitecore/Sitecore.Gigya.Migration/bin/Debug
/Sitecore/Sitecore.Gigya.Migration/obj/Debug
/Sitecore/Sitecore.Gigya.Migration/bin
