################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gigya.Module/bin/Debug
/Gigya.UnitTests/bin/Debug
/packages
/Gigya.UnitTests/obj/Debug
/Gigya.Module/obj/Debug
/Gigya.Demo.SingleSite/obj
/Gigya.Demo.SingleSite/bin
/Gigya.DemoSite2/obj
/.vs/config/applicationhost.config
/Gigya.Demo.SingleSite/Build
/Gigya.Module.Core/bin/Debug
/Gigya.Module.Core/obj/Debug
/Gigya.Sitefinity.Module/obj/Debug
/Gigya.Umbraco.Demo/App_Data/cache
/Gigya.Umbraco.Demo/App_Data/Logs
/Gigya.Umbraco.Demo/App_Data/NuGetBackup
/Gigya.Umbraco.Demo/App_Data/TEMP
/Gigya.Umbraco.Demo/bin
/Gigya.Umbraco.Demo/obj/Debug
/Gigya.Umbraco.Module/App_Data/NuGetBackup
/Gigya.Umbraco.Module/bin/Debug
/Gigya.Umbraco.Module/obj/Debug
/Gigya.Umbraco.7.0/obj/Debug
