@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Gigya.Module;

<form>
    <div class="form-group">
        <label>@Html.Resource(Constants.Resources.Designer.LoginStatus.LogoutPageLabel, Constants.Resources.ClassId)</label>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.LogoutPageId.PropertyValue"></sf-list-selector>
    </div>

    <div class="form-group">
        <label>Button Label</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.Label.PropertyValue" />
            </div>
        </div>
    </div>
</form>