@model Gigya.Module.Mvc.ViewModels.GigyaLogoutViewModel

<button type="button" class="gigya-logout">@Model.Label</button>
<input type="hidden" class="gigya-logged-out-url" value="@Model.LoggedOutUrl" />