<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Gigya.Extensions.Abstractions.Services.ITrackerService, Sitecore.Gigya.Extensions.Abstractions" implementationType="Sitecore.Gigya.Connector.Services.TrackerService, Sitecore.Gigya.Connector" />
    </services>
    <settings>
      <setting name="Sitecore.Gigya.Module.Encryption.Key" value="{66722F52-2D13-4DCC-90FC-EA7117CF2298}" />
      <setting name="Sitecore.Gigya.Module.Encryption.Salt" value="{a1670c0d-22ac-41fb-b631-d143dd434bdc}" />
      <setting name="Sitecore.Gigya.Module.Encryption.KeyLocation" value="" />
    </settings>
    <events>
      <event name="item:saving">
        <handler type="Sitecore.Gigya.Module.Events.EncryptApplicationKey, Sitecore.Gigya.Module" method="OnItemSaving"/>
        <handler type="Sitecore.Gigya.Module.Events.Validation, Sitecore.Gigya.Module" method="OnItemSaving"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Gigya.Connector.Pipelines.RegisterWebApiRoutes, Sitecore.Gigya.Connector" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <processor type="Sitecore.Gigya.Module.Pipelines.RegisterPipelines, Sitecore.Gigya.Module" />
      </initialize>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Gigya.Module.Pipelines.GigyaContentEditorPipeline, Sitecore.Gigya.Module" />
      </renderContentEditor>
      <httpRequestBegin>
        <processor type="Sitecore.Gigya.Module.Pipelines.RequestPipeline, Sitecore.Gigya.Module" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <gigya.module.getGigyaValue>
      </gigya.module.getGigyaValue>
      <gigya.module.getAccountInfoMergeCompleted>
      </gigya.module.getAccountInfoMergeCompleted>
      <gigya.module.getAccountInfoCompleted>
      </gigya.module.getAccountInfoCompleted>
      <gigya.module.registered>
      </gigya.module.registered>
      <gigya.module.loggedOut>
      </gigya.module.loggedOut>
      <gigya.module.loggedIn>
      </gigya.module.loggedIn>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="Sitecore.Gigya.Module.Fields" assembly="Sitecore.Gigya.Module" prefix="gigya" />
    </controlSources>
    <model>
      <elements>
        <element interface="Sitecore.Gigya.Extensions.Abstractions.Analytics.Facets.IGigyaElement, Sitecore.Gigya.Extensions.Abstractions" implementation="Sitecore.Gigya.Connector.Analytics.Facets.GigyaElement, Sitecore.Gigya.Connector" />
        <element interface="Sitecore.Gigya.Extensions.Abstractions.Analytics.Facets.IGigyaFacet, Sitecore.Gigya.Extensions.Abstractions" implementation="Sitecore.Gigya.Connector.Analytics.Facets.GigyaFacet, Sitecore.Gigya.Connector" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="Gigya" contract="Sitecore.Gigya.Extensions.Abstractions.Analytics.Facets.IGigyaFacet, Sitecore.Gigya.Extensions.Abstractions" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>