<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Gigya.Module.Encryption.Key" value="{66722F52-2D13-4DCC-90FC-EA7117CF2298}" />
      <setting name="Sitecore.Gigya.Module.Encryption.Salt" value="{a1670c0d-22ac-41fb-b631-d143dd434bdc}" />
      <setting name="Sitecore.Gigya.Module.Encryption.KeyLocation" value="" />
    </settings>
    <events>
      <event name="item:saving">
        <handler type="Sitecore.Gigya.Module.Events.EncryptApplicationKey, Sitecore.Gigya.Module" method="OnItemSaving"/>
        <handler type="Sitecore.Gigya.Module.Events.Validation, Sitecore.Gigya.Module" method="OnItemSaving"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Gigya.Module.Pipelines.RegisterWebApiRoutes, Sitecore.Gigya.Module" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <processor type="Sitecore.Gigya.Module.Pipelines.RegisterPipelines, Sitecore.Gigya.Module" />
      </initialize>
      <!--<accounts.loggedIn>
        <processor type="Sitecore.Feature.Accounts.Pipelines.TrackLoggedIn, Sitecore.Feature.Accounts"/>
      </accounts.loggedIn>-->
    </pipelines>
  </sitecore>
</configuration>