<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Gigya.Extensions.Abstractions.Services.ITrackerService, Sitecore.Gigya.Extensions.Abstractions" implementationType="Sitecore.Gigya.Connector.Services.TrackerService, Sitecore.Gigya.Connector" />
    </services>
    <log4net>
      <logger name="Gigya">
        <level value="DEBUG"/>
        <appender-ref ref="LogFileAppender"/>
      </logger>
    </log4net>
    <settings>
      <setting name="Sitecore.Gigya.Module.Encryption.Key" value="{66722F52-2D13-4DCC-90FC-EA7117CF2298}" />
      <setting name="Sitecore.Gigya.Module.Encryption.Salt" value="{a1670c0d-22ac-41fb-b631-d143dd434bdc}" />
      <setting name="Sitecore.Gigya.Module.Encryption.KeyLocation" value="" />
    </settings>
    <events>
      <event name="item:saving">
        <handler type="Sitecore.Gigya.Module.Events.EncryptApplicationKey, Sitecore.Gigya.Module" method="OnItemSaving"/>
        <handler type="Sitecore.Gigya.Module.Events.Validation, Sitecore.Gigya.Module" method="OnItemSaving"/>
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Gigya.Connector.Pipelines.RegisterWebApiRoutes, Sitecore.Gigya.Connector" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <processor type="Sitecore.Gigya.Module.Pipelines.RegisterPipelines, Sitecore.Gigya.Module" />
      </initialize>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Gigya.Module.Pipelines.GigyaContentEditorPipeline, Sitecore.Gigya.Module" />
      </renderContentEditor>
      <httpRequestBegin>
        <processor type="Sitecore.Gigya.Module.Pipelines.RequestPipeline, Sitecore.Gigya.Module" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <gigya.module.getGigyaValue>
      </gigya.module.getGigyaValue>
      <gigya.module.getAccountInfoMergeCompleted>
      </gigya.module.getAccountInfoMergeCompleted>
      <gigya.module.getAccountInfoCompleted>
      </gigya.module.getAccountInfoCompleted>
      <gigya.module.registered>
      </gigya.module.registered>
      <gigya.module.loggedOut>
      </gigya.module.loggedOut>
      <gigya.module.loggedIn>
      </gigya.module.loggedIn>
      <gigya.module.legacyFacetUpdating>
      </gigya.module.legacyFacetUpdating>
      <gigya.module.legacyFacetUpdated>
      </gigya.module.legacyFacetUpdated>
      <gigya.module.facetUpdating>
      </gigya.module.facetUpdating>
      <gigya.module.facetUpdated>
      </gigya.module.facetUpdated>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="Sitecore.Gigya.Module.Fields" assembly="Sitecore.Gigya.Module" prefix="gigya" />
    </controlSources>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <!-- value of 'name' property must be unique -->
          <schema name="gigyamodel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">Sitecore.Gigya.XConnect.Models.GigyaXConnectFacetModel, Sitecore.Gigya.XConnect.Models</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
    <dataAdapterManager defaultProvider="xconnect">
      <providers>
        <add name="xconnect" type="Sitecore.Analytics.XConnect.DataAccess.XConnectDataAdapterProvider, Sitecore.Analytics.XConnect" fallbackProvider="mongo">
          <facets hint="raw:AddFacet">
            <facet facetKey="Gigya"/>
            <facet facetKey="GigyaPii"/>
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
  </sitecore>
</configuration>