@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Gigya.Umbraco.Module.Connector

@{
    if (User.Identity.IsAuthenticated)
    {
        return;
    }
    var label = Utils.UmbracoMacroProperty(Model.MacroParameters, "Label") ?? "Register";
    var containerId = Utils.UmbracoMacroProperty(Model.MacroParameters, "ContainerId");
}
<a href="javascript:void(0)" data-container-id="@containerId" class="gigya-register">@label</a>