@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Gigya.Umbraco.Module.Connector

@{ 
    var loginStatusModel = Members.GetCurrentLoginStatus();
    if (!loginStatusModel.IsLoggedIn)
    {
        return;
    }

    var containerId = Utils.UmbracoMacroProperty(Model.MacroParameters, "ContainerId") ?? "gigya-container-" + Guid.NewGuid();
    var screenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "ScreenSet") ?? "Default-ProfileUpdate";
    var mobileScreenSet = Utils.UmbracoMacroProperty(Model.MacroParameters, "MobileScreenSet") ?? "DefaultMobile-ProfileUpdate";
    var startScreen = Utils.UmbracoMacroProperty(Model.MacroParameters, "StartScreen");
}

<div id="@containerId" class="gigya-embedded-screen" data-gigya-screen="@screenSet" data-gigya-mobile-screen="@mobileScreenSet" data-gigya-start-screen="@startScreen"></div>