<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Gigya.Extensions.Abstractions.Services.ITrackerService, Sitecore.Gigya.Extensions.Abstractions" implementationType="Sitecore.Gigya.Extensions.v9.Services.TrackerService, Sitecore.Gigya.Extensions.v9" />
    </services>
  </sitecore>
</configuration>