<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <gigya.module.getGigyaValue>
        <processor type="Sitecore.Gigya.Module.Tests.Pipelines.GetGigyaValueTest, Sitecore.Gigya.Module.Tests" />
      </gigya.module.getGigyaValue>
      <!--<gigya.module.getAccountInfoMergeCompleted>
        <processor type="Sitecore.Feature.Accounts.Pipelines.TrackLoggedIn, Sitecore.Feature.Accounts"/>
      </gigya.module.getAccountInfoMergeCompleted>
      <gigya.module.getAccountInfoCompleted>
        <processor type="Sitecore.Feature.Accounts.Pipelines.TrackLoggedIn, Sitecore.Feature.Accounts"/>
      </gigya.module.getAccountInfoCompleted>
      <gigya.module.registered>
        
      </gigya.module.registered>
      <gigya.module.loggedOut>
        
      </gigya.module.loggedOut>
      <gigya.module.loggedIn>
        
      </gigya.module.loggedIn>-->
    </pipelines>
  </sitecore>
</configuration>