<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <gigya.module.getAccountInfoCompleted>
        <processor type="Sitecore.Gigya.Module.Tests.Pipelines.GetGigyaInfoCompletedTest, Sitecore.Gigya.Module.Tests"/>
      </gigya.module.getAccountInfoCompleted>
    </pipelines>
  </sitecore>
</configuration>




<!--<gigya.module.getGigyaValue>
  <processor type="Sitecore.Gigya.Module.Tests.Pipelines.GetGigyaValueTest, Sitecore.Gigya.Module.Tests" />
</gigya.module.getGigyaValue>-->