<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0">
	<Sites>
		<add SiteName="/" SiteId="21a17a9c-feab-4b6d-a24a-2e49c59cf17b" />
		<add SiteName="Gigya2" SiteId="3ff4c0e5-3ca5-62b6-9d6d-ff0000dcfc93" />
	</Sites>
</analyticsConfig>