<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0">
	<notifications newPostNotificationTemplateId="eae9c0e5-3ca5-62b6-9d6d-ff0000dcfc93" newThreadNotificationTemplateId="ebe9c0e5-3ca5-62b6-9d6d-ff0000dcfc93" />
</forumsConfig>