<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" multilingual="True">
	<cultures>
		<add culture="fr" uiCulture="fr" key="french-fr" />
		<add culture="de-CH" uiCulture="de-CH" key="german (switzerland)-de-ch" />
		<add culture="yi" uiCulture="yi" key="yiddish-yi" />
	</cultures>
</resourcesConfig>