<style>
    .ng-hide { display: none !important; }
</style>
<form ng-controller="Gigya.GigyaSettingsEditController" ng-submit="publish(model)" autocomplete="off" novalidate>
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h1 class="umb-headline">Gigya Settings</h1>
            </div>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">
                    <div class="umb-property" ng-show="model.Id > 0">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="Inherited">
                                    Inherited from Global Settings
                                </label>
                                <div class="controls controls-row">
                                    <input type="checkbox" id="Inherited" name="Inherited" ng-model="model.Inherited" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="api-key">
                                    API Key
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="api-key" name="ApiKey" ng-disabled="model.Inherited" ng-model="model.ApiKey" class="input-large umb-textstring textstring" ng-required="true" val-server="value" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="application-key">
                                    Application Key
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="application-key" name="ApplicationKey" ng-disabled="model.Inherited" ng-model="model.ApplicationKey" class="input-large umb-textstring textstring" ng-required="true" val-server="value" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property" ng-show="model.CanViewApplicationSecret">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="application-secret">
                                    Application Secret
                                </label>
                                <div class="controls controls-row">
                                    <span ng-show="model.Inherited || !editApplicationSecret" ng-bind="model.ApplicationSecretMasked"></span>
                                    <input ng-show="!model.Inherited && editApplicationSecret" type="text" id="application-secret" name="ApplicationSecret" ng-model="model.ApplicationSecret" class="input-large umb-textstring textstring" ng-required="true" val-server="value" required="required" />
                                    <button ng-show="!model.Inherited && !editApplicationSecret" type="button" class="btn btn-small" ng-click="toggleEditApplicationSecret()">Edit</button>
                                    <button ng-show="!model.Inherited && editApplicationSecret" type="button" class="btn btn-small" ng-click="toggleEditApplicationSecret()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="language">
                                    Language
                                </label>
                                <div class="controls controls-row">
                                    <select name="language" id="language" class="umb-editor umb-dropdown" ng-disabled="model.Inherited" ng-model="model.Language" ng-options="option.Name for option in data.LanguageOptions track by option.Code">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property" ng-show="model.Language.Code == 'Other'">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="language-other">
                                    Language Other
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="language-other" name="LanguageOther" ng-disabled="model.Inherited" ng-model="model.LanguageOther" class="input-large umb-textstring textstring" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property" ng-show="model.Language.Code == 'auto'">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="language-fallback">
                                    Language Fallback
                                </label>
                                <div class="controls controls-row">
                                    <select name="language-fallback" id="language-fallback" ng-disabled="model.Inherited" class="umb-editor umb-dropdown" ng-options="option.Name for option in data.Languages track by option.Code" ng-model="model.LanguageFallback">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="data-center">
                                    Data Center
                                </label>
                                <div class="controls controls-row">
                                    <select id="data-center" name="data-center" ng-disabled="model.Inherited" ng-model="model.DataCenter" class="umb-editor umb-dropdown" required>
                                        <option value="us1">US</option>
                                        <option value="eu1">EU</option>
                                        <option value="au1">AU</option>
                                        <option value="ru1">RU</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property" ng-show="model.DataCenter == 'Other'">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="data-center-other">
                                    Data Center Other
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="data-center-other" name="DataCenterOther" ng-disabled="model.Inherited" ng-model="model.DataCenterOther" class="input-large umb-textstring textstring" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="redirect-url">
                                    Redirect Url
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="redirect-url" name="RedirectUrl" ng-disabled="model.Inherited" ng-model="model.RedirectUrl" class="input-large umb-textstring textstring" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="logout-url">
                                    Logout Url
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="logout-url" name="LogoutUrl" ng-disabled="model.Inherited" ng-model="model.LogoutUrl" class="input-large umb-textstring textstring" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="session-timeout">
                                    Session Timeout
                                </label>
                                <div class="controls controls-row">
                                    <input type="text" id="session-timeout" name="SessionTimeout" ng-disabled="model.Inherited" ng-model="model.SessionTimeout" class="input-large umb-textstring textstring" val-server="value" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="session-timeout">
                                    Fields Mapping
                                </label>
                                <div class="controls controls-row">
                                    <table class="mapping-fields-table">
                                        <thead>
                                            <tr>
                                                <th>Gigya Field</th>
                                                <th>Umbraco Field Alias</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in model.MappingFields">
                                                <td>
                                                    <input class="gigya-mapping-field" ng-disabled="model.Inherited" type="text" ng-model="row.GigyaFieldName" />
                                                </td>
                                                <td>
                                                    <input class="sf-mapping-field" ng-disabled="model.Inherited || row.Required" type="text" ng-model="row.CmsFieldName" />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-small" ng-hide="model.Inherited || row.Required" ng-click="removeMappingField(row)">Remove</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br />
                                    <button type="button" class="btn btn-small" ng-hide="model.Inherited" ng-click="addMappingField()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="global-params">
                                    Global Parameters (JSON)
                                </label>
                                <div class="controls controls-row">
                                    <textarea id="global-params" name="GlobalParams" ng-disabled="model.Inherited" ng-model="model.GlobalParameters" class="input-large umb-textstring textstring" val-server="value" rows="5">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="debug-mode">
                                    Debug Mode
                                </label>
                                <div class="controls controls-row">
                                    <input type="checkbox" id="debug-mode" name="DebugMode" ng-disabled="model.Inherited" ng-model="model.DebugMode" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
                            <div class="umb-el-wrap">
                                <label ng-if="hideLabel!=='true'" class="control-label" for="enable-raas">
                                    Enable RaaS
                                </label>
                                <div class="controls controls-row">
                                    <input type="checkbox" id="enable-raas" name="EnableRaas" ng-disabled="model.Inherited" ng-model="model.EnableRaas" val-server="value" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="actions_publish">Publish</localize>
                            </button>
                        </div>
                        <div class="btn-group" ng-show="nodeId > 0">
                            <a class="btn" ng-href="#/content/content/edit/{{nodeId}}">
                                <localize key="general_show">Show</localize>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </umb-panel>
</form>