@model Sitecore.Gigya.Module.Models.GigyaLogoutViewModel

<button type="button" class="gigya-cms-logout">@Model.Label</button>
<input type="hidden" class="gigya-cms-logged-out-url" value="@Model.LoggedOutUrl" />