@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions 
@{
    Layout = null;

    var context = HttpContext.Current;
    if (!string.IsNullOrEmpty(context.Request["end-session"]))
    {
        context.Session.Abandon();
        context.Response.Redirect("/", true);
        return;
    }
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
         @Html.Sitecore().VisitorIdentification() 
        <link href="/default.css" rel="stylesheet" />
        <style type="text/css">
            body.gigya-cms-logging-in .gigya-loading-example {
                position: fixed;
                bottom: 10%;
                left: 50%;
                display: block !important;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <div id="CenterColumn">
            <div id="InnerCenter">
                <div id="Header">
                    <a href="/">
                        <img src="-/media/Default Website/sc_logo.ashx" alt="Sitecore" id="scLogo" />
                    </a>
                </div>
                <div id="Content">
                    <div id="LeftContent" style="width: auto;">
                        @Html.Sitecore().Placeholder("main")
                        <div id="gigya-placeholder" style="border: 1px solid #d4d4d4; margin-top: 40px;"></div>

                        <a href="/?end-session=true">End Session</a>
                    </div>				
                </div>
                <div id="Footer"><hr class="divider"/>&#169; @DateTime.Now.Year.ToString() Sitecore</div>
            </div>
        </div>
        <img class="gigya-loading-example" style="display: none;" src="https://cdns.us1.gigya.com/gs/i//accounts/bigLoader.gif" alt="loading" />
    </body>
</html>