@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Gigya.Module;

<form>
    <div class="form-group">
        <label>Screen Set</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.ScreenSet.PropertyValue" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Mobile Screen Set</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.MobileScreenSet.PropertyValue" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Start Screen</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.StartScreen.PropertyValue" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Embedded screen or Button</label>
        <div class="row">
            <div class="col-xs-11">
                <select class="form-control" ng-model="properties.RenderMethod.PropertyValue">
                    <option>Button</option>
                    <option>Embedded</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="properties.RenderMethod.PropertyValue == 'Button'">
        <label>Button Label</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.Label.PropertyValue" />
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="properties.RenderMethod.PropertyValue == 'Embedded'">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-true-value="'True'" ng-false-value="'False'" ng-model="properties.GenerateContainer.PropertyValue" />
                Generate Container
            </label>
        </div>
    </div>

    <div class="form-group" ng-show="properties.RenderMethod.PropertyValue == 'Embedded' && (!properties.GenerateContainer.PropertyValue || properties.GenerateContainer.PropertyValue == 'False')">
        <label>Container Id</label>
        <div class="row">
            <div class="col-xs-11">
                <input class="form-control" type="text" ng-model="properties.ContainerId.PropertyValue" />
            </div>
        </div>
    </div>
</form>